[submodule ".registry"]
	path = .registry
	url = https://github.com/danielruss/danielruss.r-universe.dev
	branch = HEAD
[submodule "socR"]
	path = socR
	url = https://github.com/danielruss/socR
	branch = main
